*.pyc
*.pyo
*.db
*.py~
*.bak
*.log
.DS_Store
.coverage
.project
.gitconfig
.config
.pydevproject
/.idea/
/.ssh/
/log/
/mainsys/cache/
/.config/
!*.sh
/mainsys/config.py
/bihu/dbconfig.py
/mainsys/webconfig.py
.thumbnails
migrations/
debug.text
*.log___jb_old___
/.vscode/
